@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

body {
  background-color: white;
  font-family: "Courier New";
}

a {
  color:pink;
}

a.contact {
  font-size: 1.9em;
  font-family: 'Cutive Mono', monospace;
  text-decoration: none;
  color: grey;
}


.container {
  margin-left: 300px;
  margin-right: 300px;
  display: inline-block;
}


#click {
  font-size: 10px;
  color: grey;
}

.var-highlight {
  color: grey;
  font-weight: 200;
}
.string-highlight {
  color: rgb(250, 148, 165);
  text-shadow: 1px 2px 2px rgb(77, 77, 77);
}

.boolean-highlight {
  color: lightblue;
  text-shadow: 1px 2px 2px rgb(77, 77, 77);
}

.typewriter {
	font-size: 2em;
  font-family: "Courier New";
}
.row {
 margin-top: 50px;
 text-align: center;
 font-weight: bold;
}

img {
  margin-top: 10px;
  padding: 5px;
  height: 50px;
  width: 55px;
}

